@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>We have injected Pet Store to our DI and retrieved data from API.</p>
    <ul>
        <li>Number of pets sold: @TempData["SoldPetsCount"]</li>
    </ul>
</div>
